# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# VS user settings
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.iml

# VS Code
.vscode/

# Other
*.dbmdl
*.bak
*.log
*.dmp
*.pdb
*.cache
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# Dotnet tools
*.vs/
*.vscode/
